@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: local("Rambla"), local("Rambla-Regular"), url(../fonts/rambla.woff) format("woff"); }

body{
  background-color: #8897B7;
}

#wrapper{
	margin-top: 30px;
	background-color: white;
	font-family: 'Rambla',sans-serif;
	border-radius: 10px;
}

#info-link{
	float:right;
	margin-bottom:5px;
	cursor: pointer;
}

#info-tag{
	display: none;
}

[id$="description"] {
	display: none;
	font-size: 125%;
}

[id$="chevron"]{
	cursor: pointer;
}

.project-title{
	color: #428bca;
}

.project-title:hover{
	cursor: pointer;
	text-decoration: underline;
}
