@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: local("Rambla"), local("Rambla-Regular"), url(../fonts/rambla.woff) format("woff"); }

body {
    font-family: 'Rambla', 'sans-serif';
    background-image: url('../img/seamless_paper_texture.png');
    line-height: 1.5;
    color: #555;
}

h1,h2,h3 {
    color: black;
}


nav a:link    { color: black }  /* unvisited links */
nav a:visited { color: black }  /* visited links   */
nav a:hover   { color: gray }  /* user hovers     */
nav a:active  { color: lightgray }  /* active links    */
nav a{
    text-decoration: none;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.card {
    background-color: white;
    margin: 15px;
    box-shadow: 0 0 5px 0px black;
    padding: 10px;
    max-width: 300px;
}

.card-solo {
    background-color: white;
    margin: 15px;
    box-shadow: 0 0 5px 0px black;
    padding: 10px;
}

.flex-div {
    padding: 10px;
}

.project-title {
    margin:0px;
}

.project-title a {
    padding: 0px;
}


@media all and (min-width: 540px) {
  #wrapper{

  }
  .card-solo{
    min-width: 500px;
  }
}

@media all and (min-width: 700px) {
  #wrapper{
    margin-left: 10em;
    margin-right: 10em;
  }
  .card-solo{
    min-width: 650px;
  }
}

@media all and (min-width: 800px) {
  #wrapper{
    margin-left: 20em;
    margin-right: 20em;
  }
  .card-solo{
    min-width: 750px;
  }
}
