@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: local("Rambla"), local("Rambla-Regular"), url(fonts/rambla.woff) format("woff"); }

@font-face {
  font-family: 'Voltaire';
  font-style: normal;
  font-weight: 400;
  src: local("Voltaire"), url(fonts/voltaire.woff) format("woff"); }

.big-button{
	font-size: 100%;
}
#wrapper{
	margin-top: 30px;
	background-color: white;
	font-family: 'Rambla',sans-serif;
	border-radius: 10px;
}

#info-link{
	float:right;
	margin-bottom:5px;
	cursor: pointer;
}

#info-tag{
	display: none;
}